<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/dist/bower_components/semantic/dist/semantic.css">
  </head>
  <body>
  	<div class="ui container page">
  		<div class="ui huge header" style="color:#555"><%= title %>.</div>
      <div class="ui horizontal divider"></div>
      <div class="ui basic segment" style="margin-bottom:40px;">
        <div class="ui left floated header"><%= route.start_address %> to <%= route.end_address %></div>
        <div class="ui right floated header"><%= route.duration %> (<i><%= route.distance %></i>)</div>
      </div>
      <div class="ui padded segment">
        <div class="ui relaxed large middle aligned animated ordered list">
          <% for (var i = 0; i < route.steps.length; i++) { %>
            <div class="item">
              <div class="content">
                <div class="header"><%- route.steps[i].instructions %></div>
                <div class="description"><%= route.steps[i].duration %> (<i><%= route.steps[i].distance %></i>) </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <a href="/" class="ui small basic green right floated button">Back</a>
  	</div>
  </body>
</html>
